.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  width: 100%;
}

.todolist {
  min-width: 400px;
  margin: 1rem;
}

.todolistgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todolistitem {
  width: 300px;
  word-wrap: break-word;
  list-style: none;
  background: wheat;
  padding: 0.5rem 1rem;
}

.formtodo {
  display: flex;
}

.addbtn {
  margin: 0.1rem;
  background-color: #1760fc;
  color: white;
  height: 30px;
  margin-left: 1rem;
}

.todoinput {
  width: 350px;
  margin: 0.1rem;
  padding: 0 1rem;
  border: 1px solid grey;
}

.errorclass {
  border: none;
  background-color: #fc9d9d;
  color: rgba(156, 0, 0, 0.829);
  margin: 0.1rem;
  padding: 0.5rem 0;
  text-align: center;
}

@media (max-width: 600px) {
  .todoinput {
    width: 200px;
  }
  .todolistgroup {
    margin: 0 0 0 0.2rem;
  }
  .todolistitem {
    width: 200px;
  }
  .todolist {
    min-width: 300px;
    margin: 0.1rem;
  }
}

.emptylist {
  font-weight: bold;
  font-size: 20px;
  align-self: center;
  margin-top: 5rem;
}
